<%- include('../partials/header') %>

<div class="userDiv card">
  <h3 class="card-header"><b>User List</b></h3>
<div class="card-body" id="userCard">

  <% users.forEach(u => { %>
    <a href="/users/<%= u._id %>">
      <div class="card" >
        <div class="card-body" id="card-body">
          <img height="50" id="avatarPhoto" src="<%= u.avatar %>" alt=""> 
          <%= u.name %></a> - Joined on <%= u.createdAt.toLocaleString().split(',')[0] %>
        </div>
      </div><br>
  <% }) %>
</div>
</div>


<%- include('../partials/footer') %>